---
import Layout from '@/layouts/Layout.astro';
import DashedLine from '@/components/common/DashedLine.astro';
import Link from '@/components/common/Link.astro';
import Chip from '@/components/Chip.astro';

import { Image } from 'astro:assets';
import coffee_img from '@/images/coffee.webp';
import typography_img from '@/images/typography.webp';
import know_img from '@/images/k.webp';
---

<Layout title="About" description="About me | tnixc.space">
  <div class="flex gap-7 items-center pl-2 unblur-in-no-move-opacity">
    <div transition:name="hero" transition:animate="fade">
      <h1 class="italic font-thin font-zodiak text-text/10 text-[clamp(26px,20vmin,90px)]" id="title-text">About</h1>
    </div>
  </div>

  <DashedLine width="100%" />

  <article class="flex flex-col gap-3 max-w-[60ch]">
    <h1 class="flex gap-1 pt-4 pb-3 text-2xl font-zodiak text-text unblur-in animation-delay-100">
      <span class="font-thin text-text/25 w-[3ch]">0x1</span>Going outside
    </h1>
    <p class="unblur-in animation-delay-150">
      I love travelling. Some of my favourite places are <Chip class="bg-a1/50">Hokkaido</Chip>, <Chip class="bg-a2/50"
        >The Netherlands</Chip
      >, and <Chip class="bg-a3/50">Switzerland</Chip>. I enjoy hiking, cycling, and trying out new foods.
    </p>
    <DashedLine width="45ch" class="mt-5 unblur-in animation-delay-200" />
    <h1 class="flex gap-1 pt-4 pb-3 text-2xl font-zodiak text-text unblur-in animation-delay-250">
      <span class="font-thin text-text/25 w-[3ch]">0x2</span>Uses
    </h1>
    <p class="unblur-in animation-delay-300">
      My daily driver is <Chip class="bg-a2/50">macOS</Chip> on an M3 air, and I use
      <Chip class="bg-a3/50"> Nix</Chip>
      for package management. I'm a big fan of <Chip class="bg-a1/50">Neovim</Chip> for editing but also use Zed and VS Code.
      I use a tiling window manager, and now I can't live without it. As for hardware, I'm pretty entrenched in the apple
      ecosystem.
    </p>

    <DashedLine width="50ch" class="mt-5 unblur-in animation-delay-350" />

    <h1 class="flex gap-1 pt-4 pb-3 text-2xl font-zodiak text-text unblur-in animation-delay-400">
      <span class="font-thin text-text/25 w-[3ch]">0x3</span>Programming
    </h1>
    <p class="unblur-in animation-delay-450">
      I like working with <Chip class="bg-a2/50">Rust</Chip>, I'm interested in systems programming, compilers, and
      functional programming. I also write a lot of random CLI tools.
    </p>

    <DashedLine width="55ch" class="mt-5 unblur-in animation-delay-500" />

    <h1 class="flex gap-1 pt-4 pb-3 text-2xl font-zodiak text-text unblur-in animation-delay-550">
      <span class="font-thin text-text/25 w-[3ch]">0x4</span>Robots & FRC
    </h1>
    <p class="unblur-in animation-delay-600">
      I've been involved with <Link href="https://www.firstinspires.org/robotics/frc" external
        >FIRST Robotics Competition</Link
      >
      since 2022. I've only spent 2 seasons with a team, but I've enjoyed it immensely.
    </p>

    <DashedLine width="60ch" class="mt-5 unblur-in animation-delay-650" />

    <h1 class="flex gap-1 pt-4 pb-3 text-2xl font-zodiak text-text unblur-in animation-delay-700">
      <span class="font-thin text-text/25 w-[3ch]">0x5</span>Design Interests
    </h1>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      <div>
        <h2 class="text-lg font-zodiak text-text unblur-in animation-delay-750">UI Design</h2>
        <p class="text-base unblur-in animation-delay-800">
          I love detailed, functional interfaces with thoughtful micro-interactions. I spend a lot of time thinking
          about UI.
        </p>
      </div>
      <div>
        <h2 class="text-lg font-zodiak text-text unblur-in animation-delay-950">Drawing & Digital Art</h2>
        <p class="text-base unblur-in animation-delay-1000">
          I draw digitally using <Chip class="bg-a4/50">Procreate</Chip> and do 3D art with <Chip class="bg-a2/50"
            >Blender</Chip
          >.
        </p>
      </div>
      <div
        class="md:col-span-2 flex gap-4 bg-a2/10 rounded-md shadow-[0_0_0_8px_--alpha(var(--color-a2)/10%)] w-fit md:flex-row flex-col mt-4">
        <span class="block overflow-hidden rounded-md bg-bg w-18 h-fit">
          <Image
            src={typography_img}
            alt="typography"
            width={155}
            height={155}
            class="mix-blend-multiply dark:mix-blend-color-dodge dark:invert"
          />
        </span>
        <div class="flex-shrink w-fit">
          <h2 class="text-lg font-zodiak text-text unblur-in animation-delay-850">Typography</h2>
          <p class="flex gap-2 text-base unblur-in animation-delay-900">
            <span>
              I'm a type nerd who enjoys exploring different typefaces and their applications. Current favorites are <Chip
                class="bg-a3/50">Zodiak</Chip
              > and <Chip class="bg-a2/50">Berkeley Mono</Chip>. SF Pro is also the goat.
            </span>
          </p>
        </div>
      </div>
    </div>

    <DashedLine width="65ch" class="mt-5 unblur-in animation-delay-1050" />

    <h1 class="flex gap-1 pt-4 pb-3 text-2xl font-zodiak text-text unblur-in animation-delay-1100">
      <span class="font-thin text-text/25 w-[3ch]">0x6</span>Other Passions
    </h1>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      <div class="">
        <h2 class="text-lg font-zodiak text-text unblur-in animation-delay-1150">Mechanical Keyboards</h2>
        <p class="text-base unblur-in animation-delay-1200">
          I'm into custom mechanical keyboards with a preference for
          <Chip class="bg-a2/50">linear switches</Chip> and I've been trying out the <Link
            href="https://semilin.github.io/blog/2021/reflection_on_semimak.html"
            external>Semimak</Link
          > layout.
        </p>
      </div>
      <div
        class="bg-a1/10 rounded-md shadow-[0_0_0_8px_--alpha(var(--color-a1)/10%)] w-fit pr-3 md:translate-y-14 flex gap-4 h-fit">
        <span class="overflow-hidden rounded-md bg-bg h-fit">
          <Image
            src={coffee_img}
            alt="coffee"
            width={50}
            height={50}
            class="mix-blend-multiply dark:mix-blend-color-dodge dark:invert"
          />
        </span>
        <div>
          <h2 class="pb-1 text-lg font-zodiak text-text unblur-in animation-delay-1250">Coffee</h2>
          <p class="flex gap-2 items-center text-base rounded-md unblur-in animation-delay-1300">
            I love coffee. Hot coffee though.
          </p>
        </div>
      </div>
      <div>
        <h2 class="text-lg font-zodiak text-text unblur-in animation-delay-1350">Books & Anime</h2>
        <p class="text-base unblur-in animation-delay-1400">
          I read a lot of webnovels and other fiction. Current favourite is
          <Chip class="bg-a3/50">Lord of the Mysteries</Chip>. I also watch anime, occasionally.
        </p>
      </div>
    </div>
    <div
      class="md:col-span-2 flex gap-4 bg-a2/10 rounded-md shadow-[0_0_0_8px_--alpha(var(--color-a2)/10%)] w-fit md:flex-row flex-col mt-4">
      <span class="overflow-hidden rounded-md bg-bg w-18 h-fit">
        <Image
          src={know_img}
          alt="hashtag at"
          width={155}
          height={155}
          class="mix-blend-multiply dark:mix-blend-color-dodge dark:invert"
        />
      </span>
      <div class="w-fit">
        <h2 class="text-lg font-zodiak text-text unblur-in animation-delay-850">Knowledge Management</h2>
        <p class="flex gap-2 text-base unblur-in animation-delay-900">
          <span>
            I've jumped around Obsidian, Apple Notes, Notion, and now I'm using <Link href="https://craft.do" external
              >Craft</Link
            > for knowledge management. It's avalible everywhere, has a student plan, and beautifully designed. I use the
            <Link href="https://www.wikiwand.com/en/articles/Zettelkasten" external>Zettelkasten</Link> method, and grep
            for what I need all the time.
          </span>
        </p>
      </div>
    </div>
    <div class="pt-4 md:col-span-2">
      <h2 class="text-lg font-zodiak text-text unblur-in animation-delay-1550">Arcade & Video Games</h2>
      <p class="text-base unblur-in animation-delay-1600">
        I play all kinds of games, mainly rhythm games, roguelites, and RPGs. Minecraft / osu! / maimai DX / Wacca / DDR
        / Hades / Celeste / Hollow Knight / Divinity 2 are some of my favorites.
      </p>
    </div>
  </article>
</Layout>
