@import 'tailwindcss';

@font-face {
  font-family: 'Crimson Pro';
  src: url('/fonts/Crimson-Pro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Onest';
  src: url('/fonts/Onest-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Zodiak';
  src: url('/fonts/Zodiak-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Zodiak';
  src: url('/fonts/Zodiak-VariableItalic.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'MonaspaceNeon';
  src: url('/fonts/Monaspace-Neon-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  --themed-text: oklch(0.28 0.0071 106.85);
  --themed-bg: oklch(0.97 0.0108 95.16);
  --themed-link: oklch(0.53 0.2639 260.26);

  --themed-a1: oklch(0.71 0.0789 238.32);
  --themed-a2: oklch(0.71 0.1184 34.41);
  --themed-a3: oklch(0.71 0.0937 300.18);
  --themed-a4: oklch(0.71 0.1135 132.88);
}

[data-theme='dark'],
.dark {
  --themed-text: oklch(0.88 0.0614 259.83);
  --themed-bg: oklch(0.21 0.0353 259.49);
  --themed-link: oklch(0.71 0.1643 254.62);

  --themed-a1: oklch(0.71 0.0789 238.32);
  --themed-a2: oklch(0.71 0.1184 34.41);
  --themed-a3: oklch(0.71 0.0937 300.18);
  --themed-a4: oklch(0.71 0.1135 132.88);
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-text: var(--themed-text);
  --color-bg: var(--themed-bg);
  --color-link: var(--themed-link);
  --color-a1: var(--themed-a1);
  --color-a2: var(--themed-a2);
  --color-a3: var(--themed-a3);
  --color-a4: var(--themed-a4);

  --font-crimson: 'Crimson Pro', serif;
  --font-onest: 'Onest', system-ui, sans-serif;
  --font-zodiak: 'Zodiak', serif;
  --font-mono: 'MonaspaceNeon', ui-monospace, monospace;
}

:root {
  --transition-duration: 500ms;
}

html {
  transition:
    background-color var(--transition-duration) ease,
    color var(--transition-duration) ease;
}

body,
main,
section,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  transition:
    background-color var(--transition-duration) ease,
    color var(--transition-duration) ease,
    border-color var(--transition-duration) ease;
}

::selection {
  background: var(--color-link);
  color: var(--color-bg);
}
