---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Index" description="Index | tnixc.space">
  <h1>Welcome!</h1>
  <p>
    <!-- Add your main page content here -->
    This is the main page. You can add your content here.
  </p>
</Layout>
