---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Projects" description="Projects | tnixc.space" dim>
  <div class="flex justify-center" style="view-transition-name: hero;">
    <h1 class="font-zodiak text-text/10 text-[clamp(26px,20vmin,110px)] font-thin italic" transition:name="hero">
      Projects
    </h1>
  </div>
</Layout>
