---
import HeaderLink from "@components/HeaderLink.astro";
import DashedLine from "./DashedLine.astro";
---

<header class="w-fit">
  <nav>
    <div class="flex gap-11 px-5 pb-2 pr-24 text-sm">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
      <HeaderLink href="/writing">Writing</HeaderLink>
      <HeaderLink href="/interests">Interests</HeaderLink>
    </div>
  </nav>
  <DashedLine width="100%" />
</header>