---
import katex from 'katex';

const { formula = '' } = Astro.props;
const html = katex.renderToString(formula, { throwOnError: false });
---

<div class="text-center py-2.5 animation-delay-2000">
  <span set:html={html} class="" />
</div>
