---
import { ArrowUpRight } from 'astro-feather-icons2';
interface Props {
  title: string;
  description: string;
  link: string;
  class?: string;
}
const { title, description, link, class: classList } = Astro.props;
---

<a
  class:list={['project-card border rounded-md p-5 relative group block md:w-[30ch] h-[min-content]', classList]}
  href={link}>
  <ArrowUpRight
    class="absolute top-3 right-3 text-text opacity-30 group-hover:opacity-100 group-hover:text-link duration-200 group-hover:-translate-y-1 group-hover:translate-x-1"
    size="20"
  />
  <h1 class="text-xl tracking-wide font-zodiak text-text pb-1">{title}</h1>
  <p>{description}</p>
</a>
