---
import { Moon, Sun } from "astro-feather-icons2";
---

<button id="theme-toggle" class="bg-text/10 aspect-square place-items-center inline-grid size-8 hover:bg-text/20">
  <span id="icon-moon"><Moon size="18" /></span>
  <span id="icon-sun"><Sun size="18" /></span>
</button>

<script>
  // Function to update the displayed icon based on the current theme
  function updateIcon() {
    const isDark = document.documentElement.classList.contains("dark");
    document.getElementById("icon-moon").style.display = isDark
      ? "none"
      : "inline-block";
    document.getElementById("icon-sun").style.display = isDark
      ? "inline-block"
      : "none";
  }

  // On load, check localStorage for the saved theme and update the HTML element's class and icon
  const savedTheme = localStorage.getItem("theme");
  if (savedTheme === "dark") {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.remove("dark");
  }
  updateIcon();

  // Function to toggle the theme
  function toggleTheme() {
    const isDark = document.documentElement.classList.contains("dark");
    if (isDark) {
      document.documentElement.classList.remove("dark");
      localStorage.setItem("theme", "light");
    } else {
      document.documentElement.classList.add("dark");
      localStorage.setItem("theme", "dark");
    }
    updateIcon();
  }

  // Attach the click event listener to the toggle button
  const toggleButton = document.getElementById("theme-toggle");
  if (toggleButton) {
    toggleButton.addEventListener("click", toggleTheme);
  }
</script>
