---
import DashedLine from '@/components/common/DashedLine.astro';
import HeaderLink from '@/components/common/HeaderLink.astro';
import ThemeToggle from '@/components/common/ThemeToggle.astro';
---

<header class="" transition:name="header">
  <div class="flex items-center py-2">
    <nav>
      <div class="flex gap-11 px-5 text-sm flex-wrap">
        <HeaderLink href="/">Index</HeaderLink>
        <HeaderLink href="/projects">Projects</HeaderLink>
        <HeaderLink href="/writing">Writing</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
      </div>
    </nav>
    <div class="ml-auto mr-0">
      <ThemeToggle />
    </div>
  </div>
  <DashedLine width="100%" />
</header>
