---
import DashedLine from '@/components/common/DashedLine.astro';
import HeaderLink from '@/components/common/HeaderLink.astro';
import ThemeToggle from '@/components/common/ThemeToggle.astro';
import { Edit3, Feather, Grid, Home } from 'astro-feather-icons2';
---

<header
  class="w-full sticky top-0 z-40 bg-bg/40 shadow-2xl backdrop-blur-xl rounded-md smooth-corners-xs px-3"
  transition:animate="none">
  <div class="flex items-center py-2 px-4 sm:px-0 justify-between">
    <nav class="">
      <div class="flex gap-8 sm:gap-11 sm:px-5 text-sm text-text">
        <HeaderLink href="/">
          <span class="hidden sm:block"> Index </span>
          <Home class="block sm:hidden" size="20" />
        </HeaderLink>
        <HeaderLink href="/projects">
          <span class="hidden sm:block"> Projects </span>
          <Grid class="block sm:hidden" size="20" />
        </HeaderLink>
        <HeaderLink href="/writing">
          <span class="hidden sm:block"> Writing </span>
          <Edit3 class="block sm:hidden" size="20" />
        </HeaderLink>
        <HeaderLink href="/about">
          <span class="hidden sm:block"> About </span>
          <Feather class="block sm:hidden" size="20" />
        </HeaderLink>
      </div>
    </nav>
    <DashedLine width="100%" />
    <ThemeToggle />
  </div>
</header>
