---
import { Moon, Sun } from 'astro-feather-icons2';
---

<button
  id="theme-toggle"
  class="bg-text/10 aspect-square place-items-center inline-grid size-8 hover:bg-text/20 rounded-sm">
  <span id="icon-moon"><Moon size="18" /></span>
  <span id="icon-sun"><Sun size="18" /></span>
</button>

<!-- Add this overlay div -->
<div id="theme-transition-overlay" class="fixed inset-0 z-[0] pointer-events-none will-change-transform"></div>

<script is:inline>
  // Function to update the displayed icon based on the current theme
  function updateIcon() {
    const isDark = document.documentElement.classList.contains('dark');
    const moonIcon = document.getElementById('icon-moon');
    const sunIcon = document.getElementById('icon-sun');

    if (moonIcon) moonIcon.style.display = isDark ? 'none' : 'inline-block';
    if (sunIcon) sunIcon.style.display = isDark ? 'inline-block' : 'none';
  }

  // Function to toggle the theme with transition
  function toggleTheme() {
    const isDark = document.documentElement.classList.contains('dark');
    const overlay = document.getElementById('theme-transition-overlay');

    if (!overlay) return;

    // Set initial position of overlay
    overlay.style.transform = 'translateX(-100%)';
    overlay.style.display = 'block';
    // overlay.style.background = 'linear-gradient(to right, blue, red, red)';
    // dark to light : light to dark
    // Trigger animation
    setTimeout(() => {
      overlay.style.transform = 'translateX(0) translateY(0)';

      // Change theme when overlay is halfway through
      setTimeout(() => {
        if (isDark) {
          document.documentElement.classList.remove('dark');
          localStorage.setItem('theme', 'light');
        } else {
          document.documentElement.classList.add('dark');
          localStorage.setItem('theme', 'dark');
        }
        updateIcon();

        // Complete the animation
        setTimeout(() => {
          overlay.style.transform = 'translateX(100%)';

          // Hide overlay when done
          setTimeout(() => {
            overlay.style.display = 'none';
          }, 500);
        }, 50);
      }, 250);
    }, 10);
  }

  // Attach the click event listener to the toggle button
  function init() {
    const toggleButton = document.getElementById('theme-toggle');
    if (toggleButton) {
      toggleButton.addEventListener('click', toggleTheme);
    }

    const savedTheme = localStorage.getItem('theme');
    if (savedTheme === 'dark') {
      document.documentElement.classList.add('dark');
    } else {
      document.documentElement.classList.remove('dark');
    }
    // On load, check localStorage for the saved theme and update the HTML element's class and icon
    updateIcon();
  }
  document.addEventListener('astro:after-swap', init);
  init();
</script>

<style>
  #theme-transition-overlay {
    transform: translateX(-100%);
    transition: transform 500ms ease;
    will-change: transform;
    z-index: 9999;
    background: url(https://cdn.cosmos.so/7f07bb14-287b-4c05-82ca-b1422ad43f23?format=jpeg);
    background-size: cover;
    filter: blur(50px);
    mix-blend-mode: overlay !important;
    opacity: 0.2;
    display: none;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
</style>
