---
import Aside from '@components/Aside.astro';
import BaseHead from '@components/BaseHead.astro';
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {title} {description} />
  </head>
  <body
    class="bg-bg text-text/70 font-crimson flex min-h-screen w-screen flex-wrap-reverse items-end justify-start gap-12 p-2 lg:p-20">
    <Aside class="md:sticky md:top-20" />
    <div class="w-[100ch] max-w-full">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
