---
import Aside from '@/components/common/Aside.astro';
import BaseHead from '@/components/common/BaseHead.astro';
import Footer from '@/components/common/Footer.astro';
import Header from '@/components/common/Header.astro';
import { ClientRouter } from 'astro:transitions';

interface Props {
  title: string;
  description: string;
  dim?: boolean;
  class?: string;
}
const { title, description, dim: isDim, class: classList } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {title} {description} />
    <ClientRouter fallback="swap" />
  </head>
  <body
    class="bg-bg text-text/70 font-crimson grid grid-cols-1 md:grid-cols-[1fr_max-content_1fr] min-h-screen w-screen gap-2 md:gap-20 p-2 lg:p-20 relative">
    <Aside class="md:sticky top-20" dim={isDim} transition:persist="aside" />
    <div class="w-[80ch] max-w-full">
      <Header transition:animate="fade" />
      <main transition:animate="fade" class={classList}>
        <slot />
      </main>
      <Footer />
    </div>
    <div class="md:max-w-[300px] w-full"></div>
  </body>
</html>
