---
import DashedLine from '@/components/common/DashedLine.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import Layout from '@/layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('writing')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Layout title="Writing" description="Writing | tnixc.space">
  <ul class="py-10 flex flex-col gap-4">
    {
      posts.map((post) => (
        <a class="block my-4" href={`/writing/${post.id}/`}>
          <h1 class="font-zodiak text-3xl font-light text-text" transition:name={`post ${post.data.title}`}>
            {post.data.title}
          </h1>
          <span class="block">
            <FormattedDate date={post.data.pubDate} />
          </span>
          <DashedLine width="100%" />
        </a>
      ))
    }
  </ul>
</Layout>
